/* colores utilizados */ 
$colorVerdeUsual: darkcyan; 
$colorCremaFondoTexto: honeydew; 
$colorHr: white;
$textoIndex: rgb(28, 37, 46);
$celesteFondoByLyR: rgb(117, 187, 192);
$fondoAzulContacto: rgb(3, 50, 71);
$colorTextoForm: whitesmoke; 
$modalTexto: dimgrey; 
$rosaFondo: antiquewhite;





